{% extends 'base.html' %} {% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p class="text-center mt-5 mb-5">
     Welcome to me example CRUD Django App!
    </p>
    {% if not user.is_authenticated %}
    <div class="text-center">
      <a class="btn btn-secondary" href="/signin"> Signin </a>

      <a class="btn btn-dark" href="/signup"> Signup </a>
    </div>
    {% endif %}
  </section>
</main>

{% endblock %}
